### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### Xcode ###
build/
DerivedData/
xcuserdata/
*.xcuserstate
*UserInterfaceState.xcuserstate
*.xccheckout
*.xcscmblueprint
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

### Dependencies ###
Pods/
Carthage/
node_modules/
bower_components/

### Swift/Objective-C ###
*.hmap
*.ipa
*.gcno

### Logs ###
*.log
npm-debug.log

### IDEs ###
.idea/
*.iml
.netbeans/
nbproject/

### Miscellaneous ###
*~
*#
*.moved-aside
.node_history
*.xcuserdata
*.xcuserdatad


*.xcuserstate
